body {
    background-color: rgba(25, 25, 25, 1);
    color: #f5f5f5;
}

.banner {
    display: block!important;
    width: 775px;
    margin: auto;
    border-radius: 20px;
}

.main-container {
    position: absolute;
    display: block!important;
    width: 80%;
    left: 10%;
    background-color: rgba(35, 35, 35, 1);
    border-radius: 15px;
    padding: 10px;
}

.main-container.ng-enter {
    -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}

.main-container.ng-leave {
    -webkit-animation: fadeOutLeft 1s;
    animation: fadeOutLeft 1s;
}

.main-container div.row {
    margin: 5px;
}

.main-container div.well {
    background-color: rgba(45, 45, 45, 1);
}

.projects-container {
    position: absolute;
    display: block!important;
    background-color: rgba(45, 45, 45, 1);
    border-radius: 15px;
    min-width: 98%;
    padding: 5px;
}

.projects-container.ng-enter {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.projects-container.ng-leave {
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
}