<h1>University</h1>
<p>
    UCT - University of Cape Town, Western Cape South Africa
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Bachelor of Science Honours in First Class</b> (B.Sc Hons CITP)
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Computer science
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2013.
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NRF (National Research Fund) Bursary
    <br>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Bachelor of Science</b> (B.Sc)
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Computer Science &amp; Computer Games Design
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2009 - 2012.
    <br>
    <br>
    <b>Subjects taken:</b>
</p>
<ul class="content">
    <li>
        Honours Cryptography
    </li>
    <li>
        Honours Mobile Games Development (MGDev)
    </li>
    <li>
        Honours Visualisation (VIS)
    </li>
    <li>
        Honours Computer Vision (ICV)
    </li>
    <li>
        Honours High Performance Computing with CUDA (GPGPU)
    </li>
    <li>
        Honours Databases (DBS)
    </li>
    <li>
        Honours User Experience in Games (UXG)
    </li>
    <li>
        Honours Network Security (NIS)
    </li>
    <li>
        Honours New Venture planning (NVP)
    </li>
    <li>
        Computer Science (CSC1015F, CSC1016S, CSC2001F, CSC2002S, CSC3002F, CSC3003S)
    </li>
    <li>
        Computer Games Design (CSC2003S, CSC2020H)
    </li>
    <li>
        Mathematics (MAM1000W)
    </li>
    <li>
        Linear Algebra &amp; Advanced Calculus (MAM2043W)
    </li>
    <li>
        Applied Mathematics (MAM1043H, MAM1044H)
    </li>
    <li>
        Information Science (INF2009F, INF2011S)
    </li>
    <li>
        Astronomy (AST1000F)
    </li>
    <li>
        Film &amp; Media (FAM1000S)
    </li>
</ul>
<hr>
<h1>Schooling</h1>
<p>
    Crawford College Pretoria, Gauteng South Africa
    <br>
    &nbsp;&nbsp;&nbsp;<b>Matriculated</b> in 2008
    <br>
    <b>Subjects:</b>
</p>
<ul class="content">
    <li>
        Mathematics
    </li>
    <li>
        Additional Mathematics
    </li>
    <li>
        Accounting
    </li>
    <li>
        Science &amp; Chemistry
    </li>
    <li>
        Information Technology
    </li>
    <li>
        English
    </li>
    <li>
        Afrikaans
    </li>
    <li>
        Life Orientation
    </li>
</ul>