<div class="row">
    <div class="well col-sm-2 col-lg-2">
        <ul class="nav nav-pills nav-stacked">
            <li ui-sref-active="active"><a ui-sref="projects.bbngame">BBN-Game</a></li>
            <li ui-sref-active="active"><a ui-sref="projects.pulsar">Pulsar Visualization</a></li>
            <li ui-sref-active="active"><a ui-sref="projects.cudasqueeze">CUDA-Squeeze</a></li>
            <li ui-sref-active="active"><a ui-sref="projects.exceleditor">Excel Editor</a></li>
            <li ui-sref-active="active"><a ui-sref="projects.flydragonfly">Fly DragonFly</a></li>
            <li ui-sref-active="active"><a ui-sref="projects.heightmapanalyzer">Heightmap Analyzer</a></li>
        </ul>
    </div>
    <div class="col-sm-10 col-lg-10">
        <div class="projects-container" ui-view></div>
    </div>
</div>