<h1>Sports</h1>
<h2>Scorpion Karate</h2>
<p>
    Started at <a href="http://www.scorpionkarate.co.za/" target="_blank">Scorpion Karate</a> when I was age 9 and
    trained for 12 years.
    <br>
    Scorpion karate took me all over the world, and taught me not only a martial art, but discipline, and also
    brought me many new friends.
    <br>
    <br>
    The Shehan (trainer) for Scorpion Karate is: <a href="http://www.scorpionkarate.co.za/html/shihan_moodley.html"
                                                    target="_blank">Shehan Ravi Moodley</a>
</p>
<h2>MMA (Mixed Martial Arts)</h2>
<p>
    Trained for 1 year at: <a href="http://www.takedown.co.za/?m=1" target="_blank">TakeDown - Mixed Martial Arts
    &amp; Fitness Academy</a>
</p>
<h1>Achievements</h1>
<ul style="margin:auto auto auto 60px; font-size:14px" class="content">
    <li>
        <b>Black Belt</b> second Dan in 2009
    </li>
    <li>
        Funakoshi Shotokan World Tournament 2005 <b>Las Vegas</b>.
        <br>
        &nbsp;&nbsp;&nbsp;2nd place KATA
        <br>
        &nbsp;&nbsp;&nbsp;4th place Komite
        <br>
        &nbsp;&nbsp;&nbsp;2nd place Unison KATA
    </li>
    <li>
        Funakoshi Shotokan World Tournament 2007 <b>Crawley England</b>
        <br>
        &nbsp;&nbsp;&nbsp;3rd place Unison KATA
        <br>
        &nbsp;&nbsp;&nbsp;3rd place Team Komite
    </li>
    <li>
        Funakoshi Shotokan World Tournament 2008 <b>Jesolo Italy</b>
        <br>
        &nbsp;&nbsp;&nbsp;2nd place KATA
        <br>
        &nbsp;&nbsp;&nbsp;3rd place Komite
    </li>
</ul>
<h2>Glossary</h2>
<ul style="margin:auto auto auto 60px; font-size:14px" class="content">
    <li>
        KATA - is a Japanese word describing detailed choreographed patterns of movements practised either solo or
        in pairs.
    </li>
    <li>
        Komite - is the sport fighting match in many martial art sports.
    </li>
    <li>
        Unison KATA - KATA performed by 3 or more people (usually 3) at the same time, and in synchronous.
    </li>
</ul>